name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Sync
        uses: swethagodasu/cloud-stg-git@v0
        with:
          secrets: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_CREDENTIALS }}
          bucket: 'git-to-storage-sync'
          exclude: '.*\.md$|\.gitignore$|\.git/.*$|\.github/.*$'

